{
  "extends": "airbnb",
  "globals": {
    "__DEV__": false,
    "__PROD__": false,
    "__DEBUG__": false,
    "__CLIENT__": false,
    "__SERVER__": false
  },
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "react/prop-types": 0,
    "max-len": [2, 80, 2, {
      "ignoreComments": true,
      "ignoreUrls": true,
      "ignorePattern": "^\\s*import\\s*"
    }]
  },
  "plugins": [
    "babel"
  ]
}
